.portfolio {
	margin: 0 auto;
	padding: 100px 2rem 2rem 25px;
	max-width: 1200px;
}

.portfolio h1 {
	text-align: center;
	margin: 40px auto;
	text-decoration: underline;
}

@media (max-width: 768px) {
	.portfolio {
		--navbar-top-offset: 40px;
		margin-top: var(--navbar-top-offset);
	}
}