.connect-section {
	background-color: var(--element-background-color);
	display: flex;
	justify-content: center;
	align-items: stretch;
	padding: 30px;
	flex-wrap: wrap;
	gap: 30px 100px;
}

.connect-section>* {
	height: 100%;
	text-align: center;
	/* flex: 1; */
	font-size: large;
	/* background-color: aliceblue; */
}

.connect-section h2 {
	margin: 0px;
	margin-bottom: 10px;
	/* padding: 0; */
}

.connect-socials {}

.connect-mail {}

.connect-other {}

.connect-other p {
	padding: 0;
	margin: 0;
}

.connect-socials__links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.connect-socials__links .icon-container__square-image {
	width: 65px;
}