div {
    padding: 10px;
}

.content-row {
    display:flex;
    background-color: rgba(0, 255, 255, 0.167);
    color: black;
}

.left-content {
    background-color: rgb(27, 211, 214);
    width: 200px;
    align-content: center;
    text-align: left;
}

.right-content {
    background-color: aquamarine;
    flex-grow: 1;
    padding:200px;
}
