.experience-section {}

.experience-section h3 {
	text-align: center;
	color: var(--detail-color);
}

.showcase-container {
	border-radius: 18px;
	box-shadow: 0px 0px 25px var(--bright-highlight);
	padding: 20px;
	background: var(--element-base-color);
	margin: 0px auto;
	background: radial-gradient(ellipse 100% 120% at top, gold -20%, var(--element-base-color) 65%);
}

.tech-showcase {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	gap: 30px;
	margin: 30px auto;
}