.languages-showcase {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    max-width: 50%;
    min-width: 200px;
    min-height: 100px;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    padding: 1rem;
}

.language-container {
    flex: 1;
    text-align: center;
}

.language-container__icon {
    max-width: 75px;
    height: auto;
    display:block;
    margin: auto;
}

.tech-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 1rem;
}

.tech-container__icon {
    min-height: 80px;
    width: auto;
    flex: 1;
}

