.navbar {
	background-color: transparent;
	position: fixed;
	width: 90%;
	max-width: calc(1200px * 0.90);
	left: 50%;
	transform: translateX(-50%);
	top: 10px;
	z-index: 1000;
	margin: 0;
}

.navbar__list {
	background-color: var(--element-background-color);
	border-radius: 16px;
	display: flex;
	list-style: none;
	padding: 5px;
	margin: 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.navbar__item {
	/* flex: 1; */
	/* border: 1px solid red; */
	border-radius: 24px;
	margin: 10px;
	padding: 5px 15px;
	background-color: var(--element-base-color);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 8px 5px var(--soft-shadow);
}

.navbar__link {
	font-size: 1.5rem;
	color: var(--text-base-color);
}

.navbar__item a:hover {
	color: color-mix(in srgb, currentColor, var(--detail-color) 60%);
}

@keyframes highlight-pulse {
	0% {
		outline: var(--highlight-outline-width) solid transparent;
		outline-offset: 5px;
	}

	50% {
		outline: calc(var(--highlight-outline-width) * 2.5) solid var(--detail-color);
		outline-offset: 10px;
	}

	100% {
		outline: var(--highlight-outline-width) solid transparent;
		outline-offset: 5px;
	}
}

.highlight-pulse-active {
	--highlight-outline-width: 4px;

	animation: highlight-pulse 1.3s ease-out;
	border-radius: 8px;
}

@media (max-width: 768px) {
	.navbar__link {
		font-size: 1.2rem;
	}
}