.project-row {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 1.5rem;

    background-color: rgba(28, 28, 28, 0.521);
}

.project-row__text {
    flex: 2;
    min-width: 0;
}

.project-row__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    margin-top: 0;
    color: #555
}

.project-row__desc {
    font-size: 1rem; /* Force 1rem. Maybe this is good practice to always ensure the size? */
    line-height: 1.6; /* Better readability */
    margin: 0;
}

.project-row__showcase {
    flex: 1;
    display: flex; /* Make showcase div a flex container itself to easier manipulate its content positioning. */
    justify-content: center;
}

.project-row__media {
    max-height: 300px;
    min-height: 200px;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-row--reversed {
    flex-direction: row-reverse;
    text-align: right;
}